/* WebcamComponents.css */

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.WebcamContainer {
  flex: 0 0 60%; 
  max-width: 60%; 
}

.Webcam {
  width: 100%;
}

.button-container {
  position: fixed;
  top: 20px; /* Adjust the top position as needed */
  right: 20px;

}



.CapturedImage {
  max-width: 30%; /* Adjust the size of the captured image */
  height: auto;
  margin-top: 40px; /* Adjust the margin between the buttons and the image */
}
